{% extends "template.html.twig" %}

{% block header %}
    {{ render(controller('App\\Controller\\LibrairieController::afficherHeaderForotherPage')) }}
{% endblock %}

{% block main %}
<!-- Blog Details Page Title & Breadcrumbs -->
    <div data-aos="fade" class="page-title">
      <div class="heading">
        <div class="container">
          <div class="row d-flex">
            <div class="col-lg-8">
              <h1>{{ menu.titre }}</h1>
              <p class="mb-0">Notre Vidéothèque</p>
            </div>
          </div>
        </div>
      </div>
      <nav class="breadcrumbs">
        <div class="container">
          <ol>
            <li><a href="{{ path('app_homepage') }}">Accueil</a></li>
            <li class="current">{{ menu.menuparent.titre }}</li>
            <li class="current">{{ menu.titre }}</li>
          </ol>
        </div>
      </nav>
    </div>
    <!-- End Page Title -->

    <!-- Blog Section - Blog Page -->
    <section id="blog" class="blog">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4 posts-list">

            {% for pub in publications %}
            <div class="col-xl-4 col-lg-4">
                <iframe width="100%" height="250" src="https://www.youtube.com/embed/{{ pub.sousTitre }}" 
                    title="Don de kit scolaire aux orphelins et parents demunis" 
                    frameborder="0" 
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
                </iframe>
            </div>
            {% endfor %}

        </div>

      </div>

    </section>
    <!-- End Blog Section -->

{% endblock %}