
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns:v="urn:schemas-microsoft-com:vml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
    <link href='https://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
</head>
<body bgcolor="#f8f9fa"  leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
    
    <table bgcolor="#f8f9fa" width="100%" border="0" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                
                <table bgcolor="#ffffff" align="center" width="590" border="0" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <td height="20" style="font-zise:20px; line-height:20px" >&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="font-family: 'Questrial',Helvetica, sans-serif;
                        font-size: 20px;color: #000; mso-line-height-rule:exactly; line-height: 28px;padding-left:15px;">
                            Bonjour. <br> {{ dump(info) }}
                            Vous avez une nouveaux message venant de : {{ info.name }}<br>
                            {# <span style="font-size:17px">Bonjour M. {{ ap.apprenant.prenoms ~  '' ~ ap.apprenant.nom}}</span> #}
                            <span style="font-size:17px">
                                <br> Téléphone : {{ info.phone }} <br>
                                <b>Message :</b> 
                                <br>
                                {{ info.message }}
                                <br>
                                AID-BENIN <br/>
                           </span>
                        </td>
                    </tr>
                    <tr>
                        <td height="10" style="font-zise:10px; line-height:10px" >&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="font-family: 'Questrial',Helvetica, sans-serif;
                        font-size: 24px;color: #000; mso-line-height-rule:exactly; line-height: 28px;padding-left:15px;font-weight: bold;">
                            {# Commande N° {{ numCommande }} <br> #}
                        </td>
                    </tr>
                    <tr>
                        <td height="20" style="font-zise:20px; line-height:20px" >&nbsp;</td>
                    </tr>
                    <tr>
                        <td height="20" style="font-zise:20px; line-height:20px" >&nbsp;</td>
                    </tr>
                    <tr>
                        <td height="20" style="font-zise:20px; line-height:20px;" bgcolor="#c7c7c7">&nbsp;</td>
                    </tr>
                    {# <tr>
                        <td align="center" bgcolor="#c7c7c7"> L'équipe de <b> RomasTechnologie </b> 
                        <br>
                            <b> www.romastechnologie.com </b>
                        </td>
                    </tr> #}
                    <tr>
                        <td height="20" style="font-zise:20px; line-height:20px" bgcolor="#c7c7c7">&nbsp;</td>
                    </tr>
                </tbody>
                </table> <br><br> <br>
               
            </tr>
        </tbody>
    </table>
   
</body>
</html>