<!-- Nav Menu -->
    <nav id="navmenu" class="navmenu">
    <ul>
        
        {% for menu in menus %}
        <li class="{{ (menu.getmenus()|length > 0 ) ? 'dropdown has-dropdown' : '' }}" >
            <a  href="{% if menu.route %} {{ path(menu.route, {'slug' : menu.slug }) }} {% else%} javascript:; {% endif %}" 
                class="{% if (loop.index == 1) or (app.request.get('slug') == menu.slug)  %}active{% endif %}">
                {% if menu.getmenus()|length > 0 %}
                    <span>{{ menu.titre }}</span> <i class="bi bi-chevron-down"></i>
                {% else %}
                    {{ menu.titre }}
                {% endif %}
            </a>
            {% if menu.getmenus()|length > 0 %}
            {# LES SOUS MENUS #}
            <ul class="dd-box-shadow">
                {% for menus in menu.getmenus() %}
                    <li>
                        <a href="{% if menus.route %} {{ path(menus.route, {'slug' : menus.slug }) }} {% endif %}">
                        {{ menus.titre }}</a>
                    </li>
                {% endfor %} 
            </ul>
            {% endif %}
        </li>
        {% endfor %}
    </ul>

    <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
    </nav>
<!-- End Nav Menu -->

<a class="btn-getstarted" href="{{ path('app_soutenir') }}" style="margin-left: 40px;">Nous soutenir</a>