<nav class="techno_menu">
    <ul class="nav_scroll">

        {% for menu in menus %}
            <li>
                    <a href="{% if 'romas' in menu.route %} {{ path(menu.route, {'slug' : menu.slug }) }} {% endif %}">
                        {{ menu.titre }}
                    </a>
            {% if menu.getmenus()|length > 0 %}
                {# LES SOUS MENUS #}
                <ul class="sub-menu">
                    {% for smenu in menu.getmenus()|sort() %}
                            <li><a href="{% if 'romas' in smenu.route %} {{ path(smenu.route, {'slug' : smenu.slug }) }} {% endif %}">{{ smenu.titre }}</a>
                            {% if smenu.getmenus()|length > 0 %}
                                {# LES SOUS SOUS MENUS #}
                                <ul class="sub-menu">
                                    {% for ssmenu in smenu.getmenus() %}
                                        <li><a href="{% if 'romas' in ssmenu.route %} {{ path(ssmenu.route, {'slug' : ssmenu.slug }) }} {% endif %}">{{ ssmenu.titre }}</a></li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            </li>
                    {% endfor %}
                </ul>
            {% endif %}
            </li>
        {% endfor %}
    </ul>
    <div class="donate-btn-header">
        <a class="dtbtn" href="#">Nous Joindre</a>	
    </div>				
</nav>