<section id="recent-posts" class="recent-posts">

      <!--  Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Nos dernières actions</h2>
        <p>Notre parcours</p>
      </div>
      <!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">
          
        {% for publication in dernierPublication %}
          <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <article>

              <div class="post-img">
                <!-- <div class="img-fluid" style="background-image: url({% if publication.nomImage %}{{ asset('uploads/publication/pub_' ~ publication.id ~ '/' ~ publication.nomImage ) }}{% endif %});"></div> -->
                <img src="{% if publication.nomImage %}{{ asset('uploads/publication/pub_' ~ publication.id ~ '/' ~ publication.nomImage ) }}{% endif %}" alt="" class="img-fluid">
                <!-- <img src="{{ asset('frontend/assets/img/blog/blog-1.jpg') }}" alt="" class="img-fluid"> -->
              </div>

              <p class="post-category">Publication</p>

              <h2 class="title">
                <a href="{{ path('app_article_detail', {'slug': publication.slug }) }}">{{ publication.titre }}</a>
                
              </h2>

              <div class="d-flex align-items-center">
                <!-- <img src="{{ asset('frontend/assets/img/blog/blog-author.jpg') }}" alt="" class="img-fluid post-author-img flex-shrink-0"> -->
                <div class="post-meta">
                  <!-- <p class="post-author">Maria Doe</p> -->
                  <p class="post-date">
                    <time datetime="2022-01-01">{{ publication.created|date('d-m-Y')}}</time>
                  </p>
                </div>
              </div>

            </article>
          </div><!-- End post list item -->
        {% endfor %}

        </div><!-- End recent posts list -->

      </div>

    </section>